.Listen-wrapper {
    font-size: 20px;
    position: relative;
    margin: 20px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Listen-scroll {
    height: 100px;
    width: 60%;
    overflow-y: scroll;
}