.Listen-wrapper {
    font-size: 20px;
    position: relative;
    margin: 20px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Listen-scroll {
    height: 100px;
    width: 150%;
    overflow-y: scroll;
}

.Listen-buttons {
    display: flex;
    flex-direction: row;
}

.Listen-button {
    background-color: transparent;
    color: black;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

.Listen-button:hover {
    cursor: pointer;
    background-color: gray;
}