.Share-wrapper {
    font-size: 20px;
    width: 80%;
    position: relative;
    left: 10%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.Share-wide {
    position: relative;
    width: 60%;
    left: 20%;
}

.Share-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.Share-button {
    background-color: transparent;
    color: black;
    width: 0.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

.Share-button:hover {
    cursor: pointer;
    background-color: gray;
}

.Share-error {
    color: red;
    font-size: 12px;
}