.AddAttribute-button {
    background-color: transparent;
    color: black;
    width: 0.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin: 0px 10px;
}

.AddAttribute-button:hover {
    cursor: pointer;
    background-color: gray;
}

.AddAttribute-wrapper {
    /* display: inline-block; */
    font-size: 20px;
    position: relative;
    left: 30%;
    width: 65%;
}

.AddAttribute-form {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
    position: relative;
    width: 40%;
}

.AddAttribute-formitem {
    margin: 0px 2px;
}

.AddAttribute-elem {
    position: relative;
    left: 10%;
}

.AddAttribute-scroll {
    height: 100px;
    width: 60%;
    overflow-y: scroll;
}

.AddAttribute-scroll:hover {
    background-color: lightgray;
}

.AddAttribute-error {
    color: red;
    font-size: 12px;
}