.AddSong-button {
    background-color: transparent;
    color: black;
    width: 0.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

.AddSong-button:hover {
    cursor: pointer;
    background-color: gray;
}

.AddSong-wrapper {
    font-size: 20px;
    width: 40%;
    position: relative;
    left: 30%;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.AddSong-form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.AddSong-elem {
    position: relative;
    left: 10%;
}

.AddSong-wide {
    width: 100% - 20px;
    margin: 10px 0px 0px 0px;
}

.AddSong-right {
    position: relative;
    right: 0%;
    margin: 50px 0px;
}

.AddSong-small {
    width: 30%;
    position: relative;
    left: 70%;
    margin: 10px 0px 0px 0px;
}

.AddSong-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}

.AddSong-hoverRed:hover {
    background-color: pink;
}

.AddSong-error {
    color: red;
    font-size: 12px;
}