.AddSong-button {
    background-color: transparent;
    color: black;
    width: 0.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

.AddSong-button:hover {
    cursor: pointer;
    background-color: gray;
}

.AddSong-wrapper {
    font-size: 16px;
    width: 40%;
    position: relative;
    left: 30%;
    margin: 20px;
}

.AddSong-form {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.AddSong-elem {
    position: relative;
    left: 10%;
}